{% extends '//base1.html.twig' %}

{% block body %}

    <div class="section-top-border">
        <h2 class="mb-30"> <center>  Merci d'avoir nous rejoindre ! @ + !   </center></h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="container">
      <a href="/devitt2/web/app_dev.php/login"  value="login" class="button rounded-0 primary-bg text-white w-100 btn_1"></a>
                </div>

            </div>
        </div>
    </div>




{% endblock %}
